body{
  background-color: rgb(199, 216, 248);
}

.App {
  text-align: center;
  margin-top: 200px;
}

button {
  background-color: blanchedalmond;
  width: 190px;
  height: 70px;
  border-color: crimson;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  font-family: monospace;
  font-size: 25px;
  color: crimson;
}
button:hover {
  color: rgb(54, 31, 71);
  background-color: rgb(247, 226, 219);
}


p{
  padding: 15px 15px;
  font-size: 55px;
  color: rgb(127, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
